<h2>Reactivos: <small> Dinámicos </small></h2>
<hr class="my-3">

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <!-- Nombre -->
    <div class="grid grid-cols-4 items-center">
        <label class="col-span-1">Nombre</label>
        <div class="col-span-3 flex flex-col">
            <input formControlName="name" class="w-full mb-3 rounded-full border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                   placeholder="Nombre de la persona">
            <span *ngIf="isValidField('name')" class="form-text text-danger">
                {{ getFieldError('name') }}
            </span>
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="grid grid-cols-4 my-3 items-center">
        <label class="col-span-1">Agregar</label>
        <div class="col-span-3 flex flex-col">

            <div class="flex items-center justify-center">
                <input class="w-full rounded-l-lg border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                       placeholder="Agregar favorito"
                       [formControl]="newFavorite">
                <button (click)="onAddFavorites()" class="rounded-r-lg group h-12 py-3 px-6 bg-green-500 font-bold text-lg text-white relative overflow-hidden"
                        type="button">
                    Agregar
                </button>
            </div>
        </div>
    </div>


    <!-- Lista de Juegos Favoritos -->
    <div class="grid grid-cols-4 items-center">
        <label class="col-span-1">Favoritos</label>
        <div class="col-span-3 flex flex-col">

            <div class="mb-1" formArrayName="favoriteGames">

                <div *ngFor="let fav of favoriteGames.controls; let i = index" class="flex items-center justify-center mb-3">
                    <input [formControlName]="i" class="w-full rounded-l-lg border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">

                    <button (click)="onDeleteFavorite(i)" class="group rounded-r-lg h-12 py-3 px-6 bg-red-500 font-bold text-lg text-white relative overflow-hidden"
                            type="button">
                      Eliminar
                  </button>
                  <span *ngIf="isValidFieldInArray(favoriteGames, i)" class="form-text text-danger">
                     Este campo es requerido
                  </span>
                </div>

            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="group rounded-2xl h-12 p-3 bg-green-500 font-bold text-lg text-white relative overflow-hidden"
                    >
                    <!-- [disabled]="myForm.invalid" -->
                Guardar
            </button>
        </div>
    </div>


</form>



<span>Valid</span>
<pre>{{ myForm.valid | json }}</pre>
<br>

<span>Value</span>
<pre>{{ myForm.value | json }}</pre>
<br>

<span>Agregar Juego</span>
<pre>{{ newFavorite.value | json }}</pre>
<pre>{{ 'object' | json }}</pre>