<h2>Validaciones Reactivas</h2>
<hr class="my-3">

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">

    <!-- Nombre -->
    <div class="grid grid-cols-4 px-5 items-center">
        <label class="col-span-1 col-form-label">Nombre</label>
        <div class="col-span-3 w-full flex flex-col">

            <input  formControlName="name"
                    type="text"
                    class="mx-2 px-3 py-3"
                    placeholder="Nombre del usuario">

            <span class="form-text text-danger">
                Debe de ser en formato de nombre y apellido
            </span>
        </div>
    </div>

    <!-- Email -->
    <div class="grid grid-cols-4 px-5 my-3 items-center">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-span-3 w-full flex flex-col">
            <input formControlName="email"
                    type="email"
                    class="mx-2 px-3 py-3"
                    placeholder="Email del usuario">
            <span class="form-text text-danger">
                mensaje de error del email
            </span>
        </div>
    </div>

    <!-- Username -->
    <div class="grid grid-cols-4 px-5 my-3 items-center">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-span-3 w-full flex flex-col">
            <input  formControlName="username"
                    type="text"
                    class="mx-2 px-3 py-3"
                    placeholder="Nombre código del usuario">
            <span class="form-text text-danger">
                 El username no puede ser Strider
            </span>
        </div>
    </div>

    <!-- Password -->
    <div class="grid grid-cols-4 px-5 my-3 items-center">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-span-3 w-full flex flex-col">
            <input  formControlName="password"
                    type="password"
                    class="mx-2 px-3 py-3"
                    placeholder="Password de su cuenta">

            <span class="form-text text-danger">
                 La contraseña debe de ser mayor de 6 caracteres.
            </span>
        </div>
    </div>

    <!-- Password2 -->
    <div class="grid grid-cols-4 px-5 my-3 items-center">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-span-3 w-full flex flex-col">
            <input  formControlName="passwordConf"
                    type="password"
                    class="mx-2 px-3 py-6"
                    placeholder="Confirmar la contraseña">

            <span class="form-text text-danger">
                 Las contraseñas deben de ser iguales
            </span>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit">
                Crear
            </button>
        </div>
    </div>


</form>



<h2>Form Valid: {{ myForm.valid }}</h2>
<h2>Form Status: {{ myForm.status }} </h2>
<h2>Form Pending: {{ myForm.pending }} </h2>
<h2>Form errors</h2>
<pre>{{ myForm.errors | json }}</pre>

<h5>Nombre</h5>
<pre>{{ myForm.value.name | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.value.email | json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.value.username| json }}</pre>


<h5>Password</h5>
<pre>{{ myForm.value.password| json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.value.passwordConf | json }}</pre>